<h2>${properties.jcr:title || 'Configuration Sample'}</h2>

<h3>io.wcm.caconfig.sample.config.ConfigSample</h3>
<dl>
  <dt>stringParam</dt><dd>${caconfig['io.wcm.caconfig.sample.config.ConfigSample'].stringParam}</dd>
  <dt>intParam</dt><dd>${caconfig['io.wcm.caconfig.sample.config.ConfigSample'].intParam}</dd>
  <dt>boolParam</dt><dd>${caconfig['io.wcm.caconfig.sample.config.ConfigSample'].boolParam}</dd>
  <dt>stringArrayParam</dt><dd>${caconfig['io.wcm.caconfig.sample.config.ConfigSample'].stringArrayParam}</dd>
</dl>
