<button ng-disabled="!hasNonExistingConfig()" class="coral-Button coral-Button--primary" ng-click="addConfig()" >Add</button>

<p>Context path: <code>/x/y/z</code></p>

<table class="coral-Table coral-Table--hover" ng-cloak>
  <thead>
    <tr class="coral-Table-row">
      <th class="coral-Table-headerCell" style="width:1%"></th>
      <th class="coral-Table-headerCell">Configuration Name</th>
      <th class="coral-Table-headerCell">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr class="coral-Table-row" ng-repeat="item in configNamesCollection | filter:{exists:true}" ng-cloak
        ng-click="editConfig(item.configName)">
      <td class="coral-Table-cell">
        <i class="coral-Icon coral-Icon--sizeS"
            ng-class="{'coral-Icon--page': !item.collection, 'coral-Icon--pages': item.collection}"></i>
      </td>
      <td class="coral-Table-cell">
        {{item.label || item.configName}}
      </td>
      <td class="coral-Table-cell">
        {{item.description}}
      </td>
    </tr>
  </tbody>
</table>
