<form id="configuration" name="configForm">
  <filter-drop-down-list ng-repeat="filter in filters" model="filter" current-filter="currentFilter"></filter-drop-down-list>
  <button ng-disabled="!configForm.$valid" class="coral-Button coral-Button--primary" ng-click="save()" >Save</button>

  <p>Context path: <code>/x/y/z</code></p>

  <table class="coral-Table coral-Table--hover" ng-cloak>
    <thead>
    <tr class="coral-Table-row">
      <th class="coral-Table-headerCell">Name</th>
      <th class="coral-Table-headerCell">Value</th>
      <th class="coral-Table-headerCell">Inherited</th>
      <th class="coral-Table-headerCell">Lock</th>
      <th class="coral-Table-headerCell">Description</th>
      <th class="coral-Table-headerCell">Group</th>
    </tr>
    </thead>
    <tbody>
    <tr class="coral-Table-row" ng-repeat="parameter in displayedCollection" ng-cloak>
      <td class="coral-Table-cell">
        {{parameter.label}}
      </td>
      <td class="coral-Table-cell" parameter-value="parameter" widget-type="{{parameter.widgetType}}">
      </td>
      <td class="coral-Table-cell">
        <label class="coral-Checkbox">
          <input class="coral-Checkbox-input" type="checkbox" ng-model="parameter.inherited" ng-disabled="parameter.lockedInherited">
          <span class="coral-Checkbox-checkmark"></span>
        </label>
      </td>
      <td class="coral-Table-cell">
        <label class="coral-Checkbox">
          <input class="coral-Checkbox-input" type="checkbox" ng-model="parameter.locked" ng-disabled="parameter.lockedInherited || !configForm.$valid">
          <span class="coral-Checkbox-checkmark"></span>
        </label>
      </td>
      <td class="coral-Table-cell">
        <description-popup>
          <popup-content>
            {{parameter.description}}
          </popup-content>
        </description-popup>
      </td>
      <td class="coral-Table-cell">
        {{parameter.group}}
      </td>
    </tr>
    </tbody>
  </table>
</form>
