<div>
 <div class="wcm-io-editor-multifield wcm-io-editor-multifield--empty" ng-show="!values.length">
    <input type="type" class="coral-Textfield"
           ng-disabled="true" />
    <div class="coral-ButtonGroup">
      <button ng-click="addNewValue(0)" class="coral-ButtonGroup-item coral-Button coral-Button--secondary">
        <i class="coral-Icon coral-Icon--add"></i>
      </button>
      <button class="coral-ButtonGroup-item coral-Button coral-Button--secondary" ng-disabled="true">
        <i class="coral-Icon coral-Icon--minus"></i>
      </button>
    </div>
  </div>
  <div class="wcm-io-editor-multifield" ng-repeat="value in values">
    <input type="type" class="coral-Textfield"
           ng-model="value.value"
           ng-pattern="pattern"
           ng-required="required" />
    <div class="coral-ButtonGroup">
      <button ng-click="addNewValue($index)" class="coral-ButtonGroup-item coral-Button coral-Button--secondary">
        <i class="coral-Icon coral-Icon--add"></i>
      </button>
      <button ng-click="removeValue($index)" class="coral-ButtonGroup-item coral-Button coral-Button--secondary">
        <i class="coral-Icon coral-Icon--minus"></i>
      </button>
    </div>
  </div>
</div>
