<coral-dialog id="caconfig-addCollectionItemModal" closable="on"
     ng-controller="AddCollectionItemController as addCollectionItem"
     bindonce>
  <coral-dialog-header bo-text="i18n('modal.addCollectionItem.title')"></coral-dialog-header>
  <coral-dialog-content>
    <form class="coral-Form coral-Form--vertical" name="addCollectionItemForm" novalidate>
      <section class="coral-Form-fieldset">
        <div class="coral-Form-fieldwrapper">
          <label class="coral-Form-fieldlabel" bo-text="i18n('config.name')"></label>
          <div ng-show="addCollectionItem.denylist.indexOf(addCollectionItem.newCollectionName) !== -1">
            <coral-icon class="coral-Form-fielderror" icon="alert" size="S" id="caconfig-error-unique"></coral-icon>
            <coral-tooltip variant="error" placement="left" target="#caconfig-error-unique" bo-text="i18n('modal.tooltip.unique')"></coral-tooltip>
          </div>
          <div ng-show="addCollectionItemForm.collectionItemName.$error.pattern">
            <coral-icon class="coral-Form-fielderror" icon="alert" size="S" id="caconfig-error-allowed"></coral-icon>
            <coral-tooltip variant="error" placement="left" target="#caconfig-error-allowed" bo-text="i18n('modal.tooltip.allowed')"></coral-tooltip>
          </div>
          <input is="coral-textfield" class="coral-Form-field" placeholder="Item Name"
              ng-class="{'ng-dirty ng-invalid' : (addCollectionItem.denylist.indexOf(addCollectionItem.newCollectionName) !== -1)}"
              id="caconfig-collectionItemName" name="collectionItemName"
              ng-model="addCollectionItem.newCollectionName" ng-pattern="addCollectionItem.itemTitleRegex">
        </div>
      </section>
    </form>
  </coral-dialog-content>
  <coral-dialog-footer>
    <button is="coral-button" coral-close variant="primary"
            ng-disabled="!addCollectionItemForm.$valid
                         || addCollectionItem.denylist.indexOf(addCollectionItem.newCollectionName) !== -1
                         || !addCollectionItem.newCollectionName"
            ng-click="addCollectionItem.addItem()" bo-text="i18n('button.ok')"></button>
    <button is="coral-button" coral-close bo-text="i18n('button.cancel')"></button>
  </coral-dialog-footer>
</coral-dialog>
