<coral-dialog id="caconfig-addConfigModal" closable="on" ng-controller="AddConfigController as addConfig"
     bindonce>
  <coral-dialog-header bo-text="i18n('modal.addConfig.title')"></coral-dialog-header>
  <coral-dialog-content>
    <form class="coral-Form coral-Form--aligned" name="addConfigForm">
      <section class="coral-Form-fieldset">
        <coral-select bo-attr bo-attr-placeholder="i18n('button.choose')" id="caconfig-configurationSelect">
          <coral-select-item ng-repeat="item in addConfig.getConfigNames() | filter:{exists:false}"
                             bo-value="item.configName"
                             bo-text="item.label || item.configName">
          </coral-select-item>
        </coral-select>
      </section>
    </form>
  </coral-dialog-content>
  <coral-dialog-footer>
    <button is="coral-button" coral-close variant="primary" ng-click="addConfig.addConfig()" bo-text="i18n('button.ok')"></button>
    <button is="coral-button" coral-close bo-text="i18n('button.cancel')"></button>
  </coral-dialog-footer>
</coral-dialog>
