<form class="caconfig-detail" name="configForm" novalidate ng-cloak>

  <button class="coral-Button coral-Button--square coral-Button--default"
          title="{{i18n.button.home}}"
          ng-click="detail.isModified(configForm.$pristine) ? saveWarning() : go()">
    <i class="coral-Icon coral-Icon--home"></i>
  </button>
  <button class="coral-Button coral-Button--primary"
          ng-disabled="configForm.$invalid || !detail.isModified(configForm.$pristine)"
          ng-click="detail.saveConfig()">
    {{i18n.button.save}}
  </button>
  <button class="coral-Button coral-Button--secondary"
          ng-click="go(detail.current.parent ? detail.current.parent.configName : '')">
    {{i18n.button.cancel}}
  </button>
  <button class="coral-Button coral-Button--square coral-Button--default"
          title="{{detail.current.isCollection ? i18n.button.deleteCollection : i18n.button.deleteConfig}}"
          ng-show="detail.current.configs.length"
          ng-click="detail.removeConfig()">
    <i class="coral-Icon coral-Icon--delete"></i>
  </button>

  <p>{{i18n.contextPath}}: <code>{{detail.current.contextPath}}</code></p>

  <h2>
    <span class="caconfig-breadcrumb" ng-repeat="breadcrumb in detail.current.breadcrumbs">
      <span class="coral-Link caconfig-breadcrumb-link"
            ng-click="detail.isModified(configForm.$pristine)
              ? saveWarning(breadcrumb.configName) : go(breadcrumb.configName)">
        {{breadcrumb.label}}
      </span> /
      <span ng-show="breadcrumb.itemName">{{breadcrumb.itemName}} / </span>
    </span>
    {{detail.current.label}}
  </h2>
  <p>{{detail.current.description}}</p>

  <p class="caconfig-collectionInheritance coral-Well"
       ng-show="detail.current.isCollection">
    <label class="coral-Checkbox">
      <input class="coral-Checkbox-input" type="checkbox"
             ng-model="detail.current.collectionProperties['sling:configCollectionInherit']">
      <span class="coral-Checkbox-checkmark"></span>
      <span class="coral-Checkbox-description">{{i18n.config.inheritance.collection}}</span>
    </label>
  </p>


  <div class="caconfig-configurationDetails" ng-repeat="config in detail.current.configs" ng-cloak>

    <table class="coral-Table coral-Table--hover" ng-cloak>
      <thead>
      <tr class="coral-Table-row">
        <th class="coral-Table-headerCell"  style="width: 15%;">
          <h3 ng-show="detail.current.isCollection">{{config.collectionItemName}}</h3>
        </th>
        <th class="coral-Table-headerCell">
          <label class="caconfig-propertyInheritance coral-Checkbox">
            <input class="coral-Checkbox-input" type="checkbox"
                   ng-model="detail.getConfigPropertyInherit(config).value" />
            <span class="coral-Checkbox-checkmark"></span>
            <span class="coral-Checkbox-description">{{i18n.config.inheritance.property}}</span>
          </label>
        </th>
        <th class="coral-Table-headerCell" style="width: 1%;"></th>
        <th class="coral-Table-headerCell" style="width: 1%;"></th>
        <th class="coral-Table-headerCell" style="width: 1%;">
          <i class="coral-Icon coral-Icon--delete caconfig-delete-item" title="{{i18n.button.deleteItem}}"
             ng-show="detail.current.isCollection"
             ng-click="detail.removeCollectionItem($index)"></i>
        </th>
      </tr>
      <tr class="coral-Table-row">
        <th class="coral-Table-headerCell" style="width: 15%;">{{i18n.config.property}}</th>
        <th class="coral-Table-headerCell">{{i18n.config.value}}</th>
        <th class="coral-Table-headerCell" style="width: 1%;">{{i18n.config.description}}</th>
        <th class="coral-Table-headerCell" style="width: 1%;">{{i18n.config.inherited}}</th>
        <th class="coral-Table-headerCell" style="width: 1%;">{{i18n.config.overridden}}</th>
      </tr>
      </thead>
      <tbody>
      <tr class="coral-Table-row"
          ng-repeat="property in config.properties"
          ng-hide="property.name==='sling:configPropertyInherit'" ng-cloak>
        <td class="coral-Table-cell">
          {{property.metadata.label || property.name}}
        </td>
        <td class="coral-Table-cell" caconfig-parameter-value="property" caconfig-is-new-item="config.isNewItem">
        </td>
        <td class="coral-Table-cell">
          <caconfig-description-popup ng-show="property.metadata.description">
            <caconfig-popup-content>
              {{property.metadata.description}}
            </caconfig-popup-content>
          </caconfig-description-popup>
        </td>
        <td class="coral-Table-cell">
          <label class="coral-Checkbox">
            <input class="coral-Checkbox-input" type="checkbox"
              ng-model="property.inherited"
              ng-disabled="property.overridden || property.nestedConfig
                           || property.nestedConfigCollection"
              ng-change="detail.handleInheritedChange(property)">
            <span class="coral-Checkbox-checkmark"></span>
          </label>
        </td>
        <td class="coral-Table-cell">
          <label class="coral-Checkbox">
            <input class="coral-Checkbox-input" type="checkbox"
              ng-model="property.overridden" ng-disabled="true" ng-readonly="true">
            <span class="coral-Checkbox-checkmark"></span>
          </label>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <p><button ng-show="detail.current.isCollection" ng-click="detail.addCollectionItem()" class="coral-Button coral-Button--primary">{{i18n.button.addItem}}</button></p>

</form>