<form class="caconfig-detail" id="caconfig-configuration" name="configForm" novalidate>

  <button id="caconfig-save" class="coral-Button coral-Button--primary"
    ng-click="save()"
    ng-disabled="!configForm.$valid">{{i18n.button.save}}</button>
  <button class="coral-Button coral-Button--secondary" ng-click="go()" >{{i18n.button.cancel}}</button>
  <button ng-hide="!configs.length" ng-click="removeConfig()"
          class="coral-Button coral-Button--square coral-Button--default"
          title="{{isCollection ? i18n.button.deleteCollection : i18n.button.deleteConfig}}">
    <i class="coral-Icon coral-Icon--delete"></i>
  </button>

  <p>{{i18n.contextPath}}: <code>{{contextPath}}</code></p>

  <h2>{{configLabel}}</h2>
  <p>{{configDescription}}</p>

  <div ng-repeat="config in configs" class="caconfig-configurationDetails" ng-cloak>
    <h3 ng-hide="!isCollection">
      {{config.collectionItemName}}
      <span ng-click="removeCollectionItem($index)" title="{{i18n.button.deleteItem}}" class="coral-Icon coral-Icon--delete caconfig-delete-item"></span>
    </h3>
    <table class="coral-Table coral-Table--hover" ng-cloak>
      <thead>
      <tr class="coral-Table-row">
        <th class="coral-Table-headerCell" style="width: 15%;">{{i18n.config.property}}</th>
        <th class="coral-Table-headerCell">{{i18n.config.value}}</th>
        <th class="coral-Table-headerCell" style="width: 1%;">{{i18n.config.description}}</th>
        <th class="coral-Table-headerCell" style="width: 1%;">{{i18n.config.inherited}}</th>
        <th class="coral-Table-headerCell" style="width: 1%;">{{i18n.config.overridden}}</th>
      </tr>
      </thead>
      <tbody>
      <tr class="coral-Table-row" ng-repeat="property in config.properties" ng-cloak>
        <td class="coral-Table-cell">
          {{property.metadata.label || property.name}}
        </td>
        <td class="coral-Table-cell" caconfig-parameter-value="property" >
        </td>
        <td class="coral-Table-cell">
          <caconfig-description-popup ng-show="property.metadata.description">
            <caconfig-popup-content>
              {{property.metadata.description}}
            </caconfig-popup-content>
          </caconfig-description-popup>
        </td>
        <td class="coral-Table-cell">
          <label class="coral-Checkbox">
            <input class="coral-Checkbox-input" type="checkbox"
              ng-model="property.inherited" ng-disabled="true">
            <span class="coral-Checkbox-checkmark"></span>
          </label>
        </td>
        <td class="coral-Table-cell">
          <label class="coral-Checkbox">
            <input class="coral-Checkbox-input" type="checkbox"
              ng-model="property.overridden" ng-disabled="true">
            <span class="coral-Checkbox-checkmark"></span>
          </label>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <p><button ng-hide="!isCollection" ng-click="addCollectionItem()" class="coral-Button coral-Button--primary">{{i18n.button.addItem}}</button></p>

</form>