<form class="caconfig-detail"
      name="detail.configForm" novalidate ng-cloak
      bindonce="detail.dvReady"
      bo-class="detail.current.isCollection ? 'caconfig-is-collection' : 'caconfig-not-collection'">
  <button class="coral-Button coral-Button--square coral-Button--default" type="button"
          bo-title="i18n('button.home')"
          ng-click="(detail.configForm.$dirty && detail.current.contextPath) ? saveWarning() : go()">
    <i class="coral-Icon coral-Icon--home"></i>
  </button>
  <button class="coral-Button coral-Button--primary caconfig-if-form-valid-and-dirty" type="button"
          ng-click="detail.saveConfig()"
          bo-if="i18n('button.save') && !!detail.current.contextPath"
          bo-text="i18n('button.save')">
  </button>
  <button class="coral-Button coral-Button--primary caconfig-if-form-invalid-or-pristine" type="button"
          disabled
          bo-if="i18n('button.save') && !!detail.current.contextPath"
          bo-text="i18n('button.save')">
  </button>
  <button class="coral-Button coral-Button--secondary" type="button"
          ng-click="go(detail.current.parent ? detail.current.parent.configName : '')"
          bo-if="i18n('button.cancel')"
          bo-text="i18n('button.cancel')">
  </button>
  <button class="coral-Button coral-Button--square coral-Button--default" type="button"
          bo-title="detail.current.isCollection ? i18n('button.deleteCollection') : i18n('button.deleteConfig')"
          ng-show="detail.current.configs.length"
          bo-if="detail.current.contextPath"
          ng-click="detail.removeConfig()">
    <i class="coral-Icon coral-Icon--delete"></i>
  </button>

  <p class="caconfig-contextPath"
     bo-if="detail.current.contextPath">
     <span bo-text="i18n('contextPath')"></span>: <code bo-text="detail.current.contextPath"></code>
  </p>
  <p class="caconfig-contextPath"
     bo-if="!detail.current.contextPath" bo-text="i18n('noContextPath')">
  </p>

  <h2>
    <span class="caconfig-breadcrumb" ng-repeat="breadcrumb in detail.current.breadcrumbs">
      <span class="coral-Link caconfig-breadcrumb-link"
            ng-click="detail.configForm.$dirty ? saveWarning(breadcrumb.configName) : go(breadcrumb.configName)"
            bo-text="breadcrumb.label">
      </span> /
      <span bo-if="breadcrumb.itemName" bo-text="breadcrumb.itemName + ' / '"></span>
    </span>
    <span bo-text="detail.current.label"></span>
  </h2>
  <p bo-text="detail.current.description"></p>

  <p class="caconfig-collectionInheritance coral-Well"
     bo-if="detail.current.isCollection">
    <label class="coral-Checkbox">
      <input class="coral-Checkbox-input" type="checkbox"
             ng-model="detail.current.collectionProperties['sling:configCollectionInherit']">
      <span class="coral-Checkbox-checkmark"></span>
      <span class="coral-Checkbox-description" bo-text="i18n('config.inheritance.collection')"></span>
    </label>
  </p>

  <p bo-if="detail.current.isCollection">
    <button class="coral-Button coral-Button--primary" type="button"
            ng-click="detail.addCollectionItem()"
            bo-if="i18n('button.addItem')"
            bo-text="i18n('button.addItem')"
            title="{{detail.current.isLargeCollection && !detail.allConfigsVisible ? i18n('largeCollection.addCollectionItemHint') : i18n('button.addItem')}}">
    </button>
    <button class="coral-Button coral-Button--square coral-Button--default" type="button"
            bo-if="detail.current.isLargeCollection"
            ng-show="detail.allConfigsVisible"
            bo-title="i18n('button.toBottom')"
            ng-click="detail.toBottom()">
      <i class="coral-Icon coral-Icon--arrowDown"></i>
    </button>
  </p>

  <p class="coral-Well caconfig-largeCollection" bo-if="detail.current.isLargeCollection">
    <span bo-if="i18n('largeCollection.numberInCollection')"
          bo-text="i18n('largeCollection.numberInCollection')"></span>:
    <strong>{{detail.current.configs.length}}</strong>
    <br>
    <span bo-if="i18n('largeCollection.numberInEditor')"
          bo-text="i18n('largeCollection.numberInEditor')"></span>:
    <strong>{{detail.configLimit}}</strong><br>
    <span bo-if="i18n('largeCollection.scrollHint')"
          bo-text="i18n('largeCollection.scrollHint')"></span>
    <br>
    <span class="coral-Link caconfig-link"
          ng-click="detail.showAllConfigs()"
          bo-if="i18n('largeCollection.loadAll')"
          bo-text="i18n('largeCollection.loadAll')">
    </span>
  </p>

  <div class="caconfig-configurationDetails"
     bo-class="[
       config.inherited ? 'caconfig-config-inherited' : 'caconfig-config-not-inherited',
       config.overridden ? 'caconfig-config-overridden' : 'caconfig-config-not-overridden',
       config.isNewItem ? 'caconfig-is-new-item' : 'caconfig-not-new-item',
       detail.current.isLargeCollection ?  'caconfig-is-preview' : 'caconfig-not-preview'
     ]"
     ng-repeat="config in detail.current.configs | limitTo:detail.configLimit track by config.collectionItemName"
     caconfig-config-table="config"
     index="$index"
     is-preview="detail.current.isLargeCollection"
     ng-cloak>
  </div>

  <p bo-if="detail.current.isCollection"
     ng-show="detail.current.configs.length && detail.allConfigsVisible">
    <button class="coral-Button coral-Button--primary" type="button"
            ng-click="detail.addCollectionItem()"
            bo-if="i18n('button.addItem')"
            bo-text="i18n('button.addItem')"></button>
    <button class="coral-Button coral-Button--square coral-Button--default" type="button"
            bo-if="detail.current.isLargeCollection"
            bo-title="i18n('button.toTop')"
            ng-click="detail.toTop()">
      <i class="coral-Icon coral-Icon--arrowUp"></i>
    </button>
  </p>

</form>
