<div>
 <div class="caconfig-multifield caconfig-multifield--empty" ng-show="!values.length">
    <input class="coral-Textfield" type="type"
           ng-disabled="true" />
    <div class="coral-ButtonGroup">
      <button class="coral-ButtonGroup-item coral-Button coral-Button--secondary"
              ng-click="addNewValue(0)">
        <i class="coral-Icon coral-Icon--add"></i>
      </button>
      <button class="coral-ButtonGroup-item coral-Button coral-Button--secondary caconfig-disabled-button"
              ng-disabled="true">
        <i class="coral-Icon coral-Icon--minus"></i>
      </button>
    </div>
  </div>
  <div class="caconfig-multifield" ng-repeat="value in values">
    <input class="coral-Textfield" type="type"
           ng-model="value.value"
           ng-pattern="pattern"
           ng-required="required" />
    <div class="coral-ButtonGroup">
      <button class="coral-ButtonGroup-item coral-Button coral-Button--secondary"
              ng-click="addNewValue($index)">
        <i class="coral-Icon coral-Icon--add"></i>
      </button>
      <button class="coral-ButtonGroup-item coral-Button coral-Button--secondary"
              ng-click="removeValue($index)">
        <i class="coral-Icon coral-Icon--minus"></i>
      </button>
    </div>
  </div>
</div>
