<div bindonce="overview.ovReady" class="caconfig-overview" ng-cloak>
  <button class="coral-Button coral-Button--primary" type="button"
          bo-disabled="!overview.hasNonExistingConfig()
                       || !overview.state.contextPath"
          ng-click="overview.showNonExistingConfigs()"
          bo-text="i18n.button.add">
  </button>
  <button class="caconfig-publishButton coral-Button coral-Button--secondary" type="button"
          ng-click="overview.publishPage()"
          bo-if="i18n.button.publish"
          bo-text="i18n.button.publish">
  </button>

  <p class="caconfig-contextPath"
     bo-if="overview.state.contextPath">
     <span bo-text="i18n.contextPath"></span>: <code bo-text="overview.state.contextPath"></code>
  </p>
  <p class="caconfig-contextPath"
     bo-if="!overview.state.contextPath" bo-text="i18n.noContextPath">
  </p>

  <table class="coral-Table coral-Table--hover"
         bo-if="(overview.state.configNames | filter:{exists:true}).length" ng-cloak>
    <thead>
      <tr class="coral-Table-row">
        <th class="coral-Table-headerCell" style="width:1%"></th>
        <th class="coral-Table-headerCell" bo-text="i18n.config.name"></th>
        <th class="coral-Table-headerCell" bo-text="i18n.config.description"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="coral-Table-row"
          ng-repeat="config in overview.state.configNames | filter:{exists:true}"
          ng-click="go(config.configName)" ng-cloak>
        <td class="coral-Table-cell">
          <i class="coral-Icon coral-Icon--sizeS"
             bo-class="config.collection ? 'coral-Icon--pages' : 'coral-Icon--page'"></i>
        </td>
        <td class="coral-Table-cell" bo-text="config.label || config.configName"></td>
        <td class="coral-Table-cell" bo-text="config.description"></td>
      </tr>
    </tbody>
  </table>
</div>
