<div bindonce="overview.ovReady" class="caconfig-overview" ng-cloak>
  <button is="coral-button" variant="primary"
          bo-disabled="!overview.hasNonExistingConfig()
                       || !overview.state.contextPath"
          ng-click="overview.showNonExistingConfigs()"
          bo-text="i18n('button.add')"></button>
  <button is="coral-button"
          class="caconfig-publishButton"
          ng-click="overview.quickPublish()"
          bo-if="i18n('button.quickPublish')"
          bo-text="i18n('button.quickPublish')"></button>
  <button is="coral-button"
          class="caconfig-publishButton"
          ng-click="overview.managePublication()"
          bo-if="i18n('button.managePublication')"
          bo-text="i18n('button.managePublication')"></button>

  <p class="caconfig-contextPath"
     bo-if="overview.state.contextPath">
     <span bo-text="i18n('contextPath')"></span>: <code bo-text="overview.state.contextPath"></code>
  </p>
  <p class="caconfig-contextPath"
     bo-if="!overview.state.contextPath" bo-text="i18n('noContextPath')">
  </p>

  <table class="coral-Table coral-Table--hover"
         bo-if="(overview.state.configNames | filter:{exists:true}).length" ng-cloak>
    <thead>
      <tr class="coral-Table-row">
        <th class="coral-Table-headerCell" style="width:1%"></th>
        <th class="coral-Table-headerCell" bo-text="i18n('config.name')"></th>
        <th class="coral-Table-headerCell" bo-text="i18n('config.description')"></th>
        <th class="coral-Table-headerCell" style="width:1%"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="coral-Table-row"
          ng-repeat="config in overview.state.configNames | filter:{exists:true}"
          ng-click="go(config.configName)" ng-cloak>
        <td class="coral-Table-cell">
          <coral-icon bo-attr bo-attr-icon="config.collection ? 'pages' : 'page'"></coral-icon>
        </td>
        <td class="coral-Table-cell" bo-text="config.label || config.configName"></td>
        <td class="coral-Table-cell" bo-text="config.description"></td>
        <td class="coral-Table-cell">
          <coral-icon bo-if="config.overridden" icon="lockOn"
             data-init="quicktip" data-quicktip-arrow="right" data-quicktip-type="info" role="img" tabindex="0"
             bo-attr
             bo-attr-data-quicktip-content="i18n(config.collection ? 'config.tooltip.overriddenCollection' : 'config.tooltip.overriddenConfig')"
          ></coral-icon>
          <coral-icon bo-if="!config.overridden && config.inherited" icon="link"
             data-init="quicktip" data-quicktip-arrow="right" data-quicktip-type="info" role="img" tabindex="0"
             bo-attr
             bo-attr-data-quicktip-content="i18n(config.collection ? 'config.tooltip.inheritedCollection' : 'config.tooltip.inheritedConfig')"
          ></coral-icon>
          <coral-icon bo-if="!config.overridden && !config.inherited" icon="linkOff"
             data-init="quicktip" data-quicktip-arrow="right" data-quicktip-type="info" role="img" tabindex="0"
             bo-attr
             bo-attr-data-quicktip-content="i18n(config.collection ? 'config.tooltip.notInheritedCollection' : 'config.tooltip.notInheritedConfig')"
          ></coral-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
