<div ng-switch on="type">

  <div ng-switch-when="text">
    <input class="coral-Textfield" type="text"
           ng-hide="parameter.overridden || parameter.inherited"
           ng-model="parameter.value" />
    <input class="coral-Textfield" type="text"
           ng-show="parameter.overridden || parameter.inherited"
           ng-model="parameter.effectiveValue"
           ng-disabled="true" ng-readonly="true" />
  </div>

  <div ng-switch-when="pathbrowser">
    <caconfig-pathbrowser parameter="parameter" root-path="{{rootPath}}" />
  </div>

  <div ng-switch-when="number">
    <input class="coral-Textfield" type="text"
           ng-hide="parameter.overridden || parameter.inherited"
           ng-model="parameter.value"
           ng-pattern="pattern" />
    <input class="coral-Textfield" type="text"
           ng-show="parameter.overridden || parameter.inherited"
           ng-model="parameter.effectiveValue"
           ng-disabled="true" ng-readonly="true" />
  </div>

  <div ng-switch-when="checkbox">
    <label class="coral-Checkbox"
           ng-hide="parameter.overridden || parameter.inherited">
      <input class="coral-Checkbox-input" type="checkbox"
             ng-model="parameter.value" />
      <span class="coral-Checkbox-checkmark"></span>
    </label>
    <label class="coral-Checkbox"
           ng-show="parameter.overridden || parameter.inherited">
      <input class="coral-Checkbox-input" type="checkbox"
             ng-model="parameter.effectiveValue"
             ng-disabled="true" ng-readonly="true" />
      <span class="coral-Checkbox-checkmark"></span>
    </label>
  </div>

  <div ng-switch-when="multivalue">
    <caconfig-multifield parameter="parameter" />
  </div>

  <div ng-switch-when="nestedConfig">
    <button class="coral-Button coral-Button--block coral-Button--default"
            ng-disabled="isNewItem"
            ng-click="form.$pristine ? go(parameter.nestedConfig.configName)
                      : saveWarning(parameter.nestedConfig.configName)">
      {{i18n.button.edit}}
    </button>
  </div>

  <div ng-switch-when="nestedConfigCollection">
    <button class="coral-Button coral-Button--block coral-Button--default"
            ng-disabled="isNewItem"
            ng-click="form.$pristine ? go(parameter.nestedConfigCollection.configName)
                      : saveWarning(parameter.nestedConfigCollection.configName)">
      {{i18n.button.edit}}
    </button>
  </div>

  <div ng-switch-default>
    <span>{{parameter.value}}</span>
  </div>

</div>
