<div ng-switch on="type">

  <input class="coral-Textfield" type="text"
         ng-switch-when="text" ng-model="parameter.value" />

  <div ng-switch-when="multivalue">
    <caconfig-multifield parameter="parameter" />
  </div>

  <input class="coral-Textfield" type="text"
         ng-switch-when="number"
         ng-model="parameter.value"
         ng-pattern="pattern"
         ng-required="required" />

  <div ng-switch-when="IntegerMultivalue">
    <caconfig-multifield parameter="parameter" />
  </div>

  <div ng-switch-when="checkbox">
    <label class="coral-Checkbox">
      <input class="coral-Checkbox-input" type="checkbox"
             ng-model="parameter.value"
             ng-required="{{parameter.required}}">
      <span class="coral-Checkbox-checkmark"></span>
    </label>
  </div>

  <div ng-switch-when="map">
    <caconfig-map parameter="parameter" />
  </div>

  <div ng-switch-when="nestedConfig">
    <button class="coral-Button coral-Button--block coral-Button--default"
            ng-disabled="isNewItem"
            ng-click="form.$pristine ? go(parameter.nestedConfig.configName)
                      : saveWarning(parameter.nestedConfig.configName)">
      {{i18n.button.edit}}
    </button>
  </div>

  <div ng-switch-when="nestedConfigCollection">
    <button class="coral-Button coral-Button--block coral-Button--default"
            ng-disabled="isNewItem"
            ng-click="form.$pristine ? go(parameter.nestedConfigCollection.configName)
                      : saveWarning(parameter.nestedConfigCollection.configName)">
      {{i18n.button.edit}}
    </button>
  </div>

  <div ng-switch-default>
    <span>{{parameter.value || parameter.effectiveValue}}</span>
  </div>

</div>
