<div bindonce class="caconfig-pathbrowser">
  <div class="coral-PathBrowser--disabled caconfig-if-property-overridden-or-inherited">
    <div class="coral-InputGroup">
      <input class="coral-InputGroup-input coral-Textfield"
             type="text" autocomplete="off"
             disabled
             readonly
             ng-model="property.effectiveValue" />
      <div class="coral-InputGroup-button">
        <button is="coral-button" class="coral-Button--square caconfig-disableable-button"
                type="button" bo-title="i18n('button.browse')" icon="folderSearch" iconsize="S"
                disabled></button>
      </div>
    </div>
  </div>
  <div class="coral-PathBrowser caconfig-if-property-not-overridden-and-not-inherited">
    <div class="coral-InputGroup">
      <input class="coral-InputGroup-input coral-Textfield js-coral-pathbrowser-input caconfig-if-config-inherited"
             type="text" autocomplete="off"
             disabled
             readonly
             ng-model="property.value" />
      <input class="coral-InputGroup-input coral-Textfield js-coral-pathbrowser-input caconfig-if-config-not-inherited"
             type="text" autocomplete="off"
             ng-model="property.value" />
      <div class="coral-InputGroup-button caconfig-if-config-inherited">
        <button is="coral-button" class="coral-Button--square js-coral-pathbrowser-button caconfig-disableable-button"
                type="button" bo-title="i18n('button.browse')"
                disabled></button>
      </div>
      <div class="coral-InputGroup-button caconfig-if-not-config-inherited">
        <button is="coral-button" class="coral-Button--square js-coral-pathbrowser-button caconfig-disableable-button"
                type="button" bo-title="i18n('button.browse')" icon="folderSearch" iconsize="S"></button>
      </div>
    </div>
  </div>
</div>
