<div bindonce
     class="caconfig-pathbrowser">
  <span class="coral-PathBrowser--disabled caconfig-if-property-overridden-or-inherited">
    <span class="coral-InputGroup coral-InputGroup--block">
      <input class="coral-InputGroup-input coral-Textfield"
             type="text" autocomplete="off"
             disabled
             readonly
             ng-model="parameter.effectiveValue" />
      <span class="coral-InputGroup-button">
        <button class="coral-Button coral-Button--square caconfig-disableable-button"
                type="button" bo-title="i18n.button.browse"
                disabled>
          <i class="coral-Icon coral-Icon--sizeS coral-Icon--folderSearch"></i>
        </button>
      </span>
    </span>
  </span>
  <span class="coral-PathBrowser caconfig-if-property-not-overridden-and-not-inherited">
    <span class="coral-InputGroup coral-InputGroup--block">
      <input class="coral-InputGroup-input coral-Textfield js-coral-pathbrowser-input caconfig-if-config-inherited"
             type="text" autocomplete="off"
             disabled
             readonly
             ng-model="parameter.value" />
      <input class="coral-InputGroup-input coral-Textfield js-coral-pathbrowser-input caconfig-if-config-not-inherited"
             type="text" autocomplete="off"
             ng-model="parameter.value" />
      <span class="coral-InputGroup-button">
        <button class="coral-Button coral-Button--square js-coral-pathbrowser-button caconfig-if-config-inherited caconfig-disableable-button"
                type="button" bo-title="i18n.button.browse"
                disabled>
        <button class="coral-Button coral-Button--square js-coral-pathbrowser-button caconfig-if-not-config-inherited caconfig-disableable-button"
                type="button" bo-title="i18n.button.browse">
          <i class="coral-Icon coral-Icon--sizeS coral-Icon--folderSearch"></i>
        </button>
      </span>
    </span>
  </span>
</div>
