<div class="caconfig-property-dropdown" bindonce="dropdownReady" ng-model="property.value">
  <span class="coral-Select caconfig-if-property-not-overridden-and-not-inherited caconfig-if-config-not-inherited" bo-id="id">
    <button class="coral-Select-button coral-MinimalButton" type="button">
      <span class="coral-Select-button-text" bo-text="i18n.button.choose"></span>
    </button>
    <select class="coral-Select-select">
      <option disabled selected value bo-text="i18n.button.choose"></option>
      <option ng-repeat="option in dropdownOptions"
              bo-value="option.value"
              bo-text="option.description">
      </option>
    </select>
  </span>
  <span class="coral-Select caconfig-if-property-not-overridden-and-not-inherited caconfig-if-config-inherited">
    <button class="coral-Select-button coral-MinimalButton" type="button" readonly disabled>
      <span class="coral-Select-button-text" bo-text="getOptionText(property.value)"></span>
    </button>
  </span>
  <span class="coral-Select caconfig-if-property-overridden-or-inherited">
    <button class="coral-Select-button coral-MinimalButton" type="button" readonly disabled>
      <span class="coral-Select-button-text" ng-bind="getOptionText(property.effectiveValue)"></span>
    </button>
  </span>
</div>
