<div>
  <input is="coral-textfield" class="caconfig-if-property-not-overridden-and-not-inherited caconfig-if-config-not-inherited"
         ng-model="property.value" ng-trim="false"
         ng-pattern="pattern" />
  <input is="coral-textfield" class="caconfig-if-property-not-overridden-and-not-inherited caconfig-if-config-inherited"
         ng-model="property.value"
         disabled readonly />
  <input is="coral-textfield" class="caconfig-if-property-overridden-or-inherited"
         ng-model="property.effectiveValue"
         disabled readonly />
</div>
