<div>
  <textarea is="coral-textarea" class="caconfig-if-property-not-overridden-and-not-inherited caconfig-if-config-not-inherited" type="text"
            ng-model="property.value"/>
  <textarea is="coral-textarea" class=" caconfig-if-property-not-overridden-and-not-inherited caconfig-if-config-inherited" type="text"
            ng-model="property.value"
            disabled readonly />
  <textarea is="coral-textarea" class=" caconfig-if-property-overridden-or-inherited" type="text"
            ng-model="property.effectiveValue"
            disabled readonly />
</div>
