<div>
  <textarea is="coral-textarea" class="caconfig-if-property-not-overridden-and-not-inherited caconfig-if-config-not-inherited"
            ng-model="property.value" ng-trim="false"></textarea>
  <textarea is="coral-textarea" class="caconfig-if-property-not-overridden-and-not-inherited caconfig-if-config-inherited"
            ng-model="property.value"
            disabled readonly></textarea>
  <textarea is="coral-textarea" class="caconfig-if-property-overridden-or-inherited"
            ng-model="property.effectiveValue"
            disabled readonly></textarea>
</div>
