<div class="caconfig-richtexteditor">
    <span class="coral-richtexteditor"
        ng-hide="parameter.overridden || parameter.inherited">
    <span class="coral-InputGroup coral-InputGroup--block">
      <input class="coral-InputGroup-input coral-Textfield js-coral-richtexteditor-input"
             type="text" autocomplete="off"
             ng-disabled="isConfigInherited"
             ng-readonly="isConfigInherited"
             ng-model="parameter.value" />
      <span class="coral-InputGroup-button">
        <button class="coral-Button coral-Button--square caconfig-disableable-button"
                type="button" title="{{i18n.button.browse}}"
                ng-click="openPopup()"
        >
          <i class="fa fa-edit fa-lg"></i>
        </button>
      </span>
    </span>
  </span>
</div>