{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint-config-pv/legacy",
  "globals": {
    "angular": false,
    "CUI": false,
    "Granite", false
  },
  "rules": {
    "dot-notation": ["error", { "allowKeywords": false }],
    "max-params": 0,
    "no-undef": ["error"],
    "no-use-before-define": ["warn", { "functions": false }]
  }
}
