{
  "extends": "pv/legacy",
  "globals": {
    "angular": false,
    "CUI": false,
    "jQuery": false,
    "_": false
  },
  "rules": {
    "dot-notation": ["warn", { "allowKeywords": false }],
    "func-style": ["error", "declaration"],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^e$" }],
    "no-use-before-define": ["error", { "functions": false }]
  }
}
