{
  "extends": "pv/legacy",
  "globals": {
    "angular": false,
    "CUI": false,
    "jQuery": false,
    "_": false,
    "inject": false,
    "browser": false,
    "by": false,
    "getJSONFixture": false
  },
  "rules": {
    "func-style": ["error", "declaration"],
    "no-use-before-define": ["error", { "functions": false }]
  }
}
