<style>
body {
  font-family: sans-serif;
}
h4 {
  font-style: italic;
}
dl {
  margin-left: 10px;
}
ul dl {
  margin-left: 0px;
}
dl dd {
  display: inline;
  margin: 0;
}
dl dd:after{
  display: block;
  content: '';
}
dl dt{
  display: inline-block;
  font-weight: bold;
  min-width: 200px;
  border-bottom: 1px solid #ccc;
}
</style>

<h1>${currentPage.pageTitle || currentPage.title}</h1>

<div>

  <h3>io.wcm.caconfig.sample.config.ConfigSample</h3>
  <dl>
    <dt>stringParam</dt><dd>${caconfig['io.wcm.caconfig.sample.config.ConfigSample'].stringParam}</dd>
    <dt>intParam</dt><dd>${caconfig['io.wcm.caconfig.sample.config.ConfigSample'].intParam}</dd>
    <dt>boolParam</dt><dd>${caconfig['io.wcm.caconfig.sample.config.ConfigSample'].boolParam}</dd>
    <dt>stringArrayParam</dt><dd>${caconfig['io.wcm.caconfig.sample.config.ConfigSample'].stringArrayParam}</dd>
  </dl>

  <hr/>

  <h3>io.wcm.caconfig.sample.config.ConfigSample2</h3>
  <dl>
    <dt>stringParam</dt><dd>${caconfig['sample/configuration/2'].stringParam}</dd>
    <dt>doubleParam</dt><dd>${caconfig['sample/configuration/2'].doubleParam}</dd>
    <dt>intArrayParam</dt><dd>${caconfig['sample/configuration/2'].intArrayParam}</dd>
    <dt>boolArrayParam</dt><dd>${caconfig['sample/configuration/2'].boolArrayParam}</dd>
  </dl>

  <hr/>

  <h3>io.wcm.caconfig.sample.config.ConfigSampleList</h3>
  <ul data-sly-list.item="${caconfig['io.wcm.caconfig.sample.config.ConfigSampleList']}">
    <li><dl>
      <dt>stringParam</dt><dd>${item.stringParam}</dd>
      <dt>stringParam2</dt><dd>${item.stringParam2}</dd>
      <dt>stringParam3</dt><dd>${item.stringParam3}</dd>
    </dl></li>
  </ul>

  <hr/>

  <sly data-sly-use.nested="io.wcm.caconfig.sample.model.ConfigSampleNestedModel"/>
  
  <h3>io.wcm.caconfig.sample.config.ConfigSampleNested</h3>
  <dl>
    <dt>stringParam</dt><dd>${nested.config.stringParam}</dd>
  </dl>

  <h4>sub: io.wcm.caconfig.sample.config.ConfigSampleSub</h4>
  <ul data-sly-list.item="${nested.sub}">
    <li><dl>
      <dt>subStringParam:</dt><dd>${item.subStringParam}</dd>
      <dt>intParam:</dt><dd>${item.intParam}</dd>
      <dt>boolParam:</dt><dd>${item.boolParam}</dd>
      <dt>stringArrayParam:</dt><dd>${item.stringArrayParam}</dd>
    </dl></li>
  </ul>

  <h4>sub2: io.wcm.caconfig.sample.config.ConfigSampleSub2</h4>
  <dl>
    <dt>sub2StringParam</dt><dd>${nested.sub2.sub2StringParam}</dd>
  </dl>

  <h4>sub2/sub: io.wcm.caconfig.sample.config.ConfigSampleSub</h4>
  <dl>
    <dt>subStringParam</dt><dd>${nested.sub2.sub.subStringParam}</dd>
    <dt>intParam</dt><dd>${nested.sub2.sub.intParam}</dd>
    <dt>boolParam</dt><dd>${nested.sub2.sub.boolParam}</dd>
    <dt>stringArrayParam</dt><dd>${nested.sub2.sub.stringArrayParam}</dd>
  </dl>

  <h4>sub2/subList: io.wcm.caconfig.sample.config.ConfigSampleSub</h4>
  <ul data-sly-list.item="${nested.sub2.subList}">
    <li><dl>
      <dt>subStringParam</dt><dd>${item.subStringParam}</dd>
      <dt>intParam</dt><dd>${item.intParam}</dd>
      <dt>boolParam</dt><dd>${item.boolParam}</dd>
      <dt>stringArrayParam</dt><dd>${item.stringArrayParam}</dd>
    </dl></li>
  </ul>

  <h4>sub2List: io.wcm.caconfig.sample.config.ConfigSampleSub2</h4>
  <ul data-sly-list.item="${nested.sub2List}">
    <li>
      <dl><dt>sub2StringParam</dt><dd>${item.sub2StringParam}</dd></dl>
      <h4>sub2List/sub: io.wcm.caconfig.sample.config.ConfigSampleSub</h5>
      <dl>
        <dt>subStringParam</dt><dd>${item.sub.subStringParam}</dd>
        <dt>intParam</dt><dd>${item.sub.intParam}</dd>
        <dt>boolParam</dt><dd>${item.sub.boolParam}</dd>
        <dt>stringArrayParam</dt><dd>${item.sub.stringArrayParam}</dd>
      </dl>
      <h4>sub2List/subList: io.wcm.caconfig.sample.config.ConfigSampleSub</h5>
      <ul data-sly-list.subListItem="${item.subList}">
        <li><dl>
          <dt>subStringParam</dt><dd>${subListItem.subStringParam}</dd>
          <dt>intParam</dt><dd>${subListItem.intParam}</dd>
          <dt>boolParam</dt><dd>${subListItem.boolParam}</dd>
          <dt>stringArrayParam</dt><dd>${subListItem.stringArrayParam}</dd>
        </dl></li>
      </ul>
    </li>
  </ul>

</div>
